body {
    background-image: url("water.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.counter-card {
    width: 600px;
    margin: 45px auto;
    background-color: #f9eae1;
    padding: 50px 0;
    border-radius: 20px;
    border: 3px solid white;
}

h1 {
    color: white;
    text-shadow: 0 0 1px black;
    background-color: #274c77;
    width: 530px;
    margin: 0 auto;
    padding: 5px 0;

}

h2, p {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #00798c;
    text-shadow: 0 0 3px white;
}


h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #00798c;
    text-shadow: 0 0 3px white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 0 0 5px #1d3557;
    font-weight: bold;
    width: 175px;
    margin-bottom: 5px;
    border-radius: 50px;
}

button:hover {
    opacity: 90%;

}

#increment-btn {
    background: #3d405b;
}

#save-btn {
    background: #2a9d8f;
}

